<!doctype html>
<html>
<head>
    <title>Интернет-магазин</title>
</head>
<body>
    <header>
        <h1>"Офигенный"</h1>
        <nav>
            <ul>
                <li><a href="/">Главная</a></li>
                <li><a href="/clothing">Одежда</a></li>
                <li><a href="/shoes">Обувь</a></li>
            </ul>
        </nav>
    </header>

    <div class="content">
        {% block content %}{% endblock %}
    </div>

    <footer>
        <p>&copy; 2024 Интернет-магазин "Офигенный"</p>
    </footer>
</body>
</html>
